body, html {
    height: 100%;
    background-color: aqua;
  }
  
  * {
    box-sizing: border-box;
  }
  
  

  .bg-image { 
   
    background-image: url("./logo192.webp");
  
   
    filter: blur(4px);
    -webkit-filter: blur(4px);
  
   
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  
  
 
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }